<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic HTML Flask Form</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
</head>


<body>
    <h1>Submit your name</h1>
    
    <form action="/" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <input type="submit" value="Submit">
    </form>
    
    <button onclick="click_me()">Click Me</button>
    <div class="my_content" id="log">
        This is the log
    </div>
    
    
    {% if name %}
        <h2>Hello, {{ name }}!</h2>
    {% endif %}
    
</body>
</html>